<!-- Footer -->
<footer id="footer" class="container-fluid background-black">
  <ul class="col d-flex justify-content-center hide-list-style flex-wrap">

    {% if site.slack %}
      <li>
        <a href="{{ site.slack }}"><i class="fa fa-slack"></i></a>
      </li>
    {% endif %}

    {% if site.twitter_username %}
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
      </li>
    {% endif %}

    {% if site.github_username %}
      <li>
          <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
      </li>
    {% endif %}

    {% if site.reddit %}
      <li>
          <a href="https://reddit.com/r/{{ site.reddit }}"><i class="fa fa-reddit"></i></a>
      </li>
    {% endif %}

    {% if site.facebook_username %}
      <li>
          <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook"></i></a>
      </li>
    {% endif %}

    {% if site.youtube %}
      <li>
          <a href="{{ site.youtube }}"><i class="fa fa-youtube"></i></a>
      </li>
    {% endif %}

  </ul>
  <span>Support us with your Donation: <a class="donation-link" href="https://www.myetherwallet.com/?to=0x5ADF43DD006c6C36506e2b2DFA352E60002d22Dc&gaslimit=23000&data=5468616E6B20796F7520666F7220796F757220636F6E747269627574696F6E202D20596F752061726520415745534F4D4521203C33#send-transaction">revolution.eth</a></span>
  <h6 class="color-white padding-top">MMXVII - No Rights Reserved - The Unicorn DAC</h6>
</footer>
