<!-- Header -->
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#"><img src="/assets/Giveth-logo-purple.svg" width="30px" height="30px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wiki.giveth.io">Wiki</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#smart-contracts">Smart Contracts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://mvp.giveth.io">Dapp-Preview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://dapp.giveth.io">Milestone-Tracker</a>
          </li>
<!--          <li class="nav-item">
            <a class="nav-link" href="/admin/index.html">Blog</a>
          </li>
-->
        </ul>
      </div>
  </nav>
</header>
