<!-- Header -->
<header id="header">
    <a href="#hero" class="skip-link">Skip to main content</a>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-color">
      <a class="navbar-brand" href="#"><img src="/assets/Giveth-typelogo-white.svg" width="100px" height="auto" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#communities">Platform</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dac">Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#developers-corner">Developers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#unicorn-dac">Unicorns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wiki.giveth.io">Wiki</a>
          </li>
<!--
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://mvp.giveth.io">Dapp-Preview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://dapp.giveth.io">Milestone-Tracker</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/admin/index.html">Blog</a>
          </li>
-->
        </ul>
      <a class="btn btn-secondary" href="https://giveth.io/donate/">Donate</a>
      </div>
  </nav>
</header>
